<settings>

<servers>
  <server>
    <id>nextwork-nextwork-devops-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>nextworkdomain-nextwork</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextworkdomain-nextwork</id>
        <url>https://nextworkdomain-799990344483.d.codeartifact.eu-west-1.amazonaws.com/maven/nextwork/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>nextworkdomain-nextwork</id>
    <name>nextworkdomain-nextwork</name>
    <url>https://nextworkdomain-799990344483.d.codeartifact.eu-west-1.amazonaws.com/maven/nextwork/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>

